# umbrella/values.yaml
global:
  serviceAccount:
    name: artifact-puller-sa

  image:
    tag: ""   # <-- CD will override this with sha-${{ github.sha }}

application-service:
  image:
    repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/application-service
    tag: ""                # local fallback (optional)
    imagePullPolicy: IfNotPresent
  replicaCount: 1
  service:
    port: 3001
  resources: {}
  env: []

order-service:
  image:
    repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/order-service
    tag: ""
    imagePullPolicy: IfNotPresent
  replicaCount: 1
  service:
    port: 3002
  resources: {}
  env: []

patient-service:
  image:
    repository: us-central1-docker.pkg.dev/massive-sandbox-477717-k3/dev-docker/patient-service
    tag: ""
    imagePullPolicy: IfNotPresent
  replicaCount: 1
  service:
    port: 3003
  resources: {}
  env: []
